<h1>Match an Animal</h1>

<table class="radio">
  <tr>
    <th></th>
    <th>Yes</th>
    <th>No</th>
  </tr>
  <tr>
    <td><label for="child_friendly">Does the potential owner have children? </label></td>
    <td><input type="radio" name="child_friendly" value="true" required></td>
    <td><input type="radio" name="child_friendly" value="false"></td>
  </tr>
  <tr>
    <td><label for="needs_outside_space">Does the owner have space outside? </label></td>
    <td><input type="radio" name="needs_outside_space" value="true" required></td>
    <td><input type="radio" name="needs_outside_space" value="false"></td>
  </tr>
  <tr>
    <td><label for="needs_exercise">Does the owner like plenty of exercise? </label></td>
    <td><input type="radio" name="needs_exercise" value="true" required></td>
    <td><input type="radio" name="needs_exercise" value="false"></td>
  </tr>
  <input type="submit" value="search">
</table><br>
