<h1>Search for an animal</h1>
<div class="form">
  <form class="search" action="/animals/search" method="post">

    <label for="type-search">What kind of animal are you looking for? </label><br><br>
    <input type="search" placeholder="name, type or breed..." id="type-search" name="type" required ><br><br>


    <input type="submit" value="search">

  </form>
</div>
