<h1>find a pet</h1>
<div class="">
  <form class="" action="/animals/search" method="post">
    <label for="name-search">Name</label>
    <input type="search" id="name-search" name="name"><br>

    <label for="type-search">Type</label>
    <input type="search" id="type-search" name="type"><br>

    <label for="type-search">Breed</label>
    <input type="search" id="breed-search" name="breed"><br>

    <input type="submit" name="" value="search">

  </form>
</div>
