<h1>Find a pet</h1>
<div class="form">
  <form class="" action="/animals/search" method="post">

    <label for="type-search">What kind of animal are you looking for? </label>
    <input type="search" placeholder="cat, dog..." id="type-search" name="type"><br>


    <input type="submit" value="search">

  </form>
</div>
