<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Wanna Pet Animal Shelter</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <main>
      <nav id="menu">
        <li class="menu-item"><a href="/animals">View All Animals</a></li>
        <li class="menu-item"><a href="/owners">View All Owners</a></li>
        <li class="menu-item"><a href="/animals/new">Add a New Animal</a></li>
        <li class="menu-item"><a href="/owners/new">Add a New Owner</a></li>
        <li class="menu-item"><a href="/animals/available">Available Animals</a></li>
        <li class="menu-item"><a href="/animals/training">Animals in Training</a></li>
        <li class="menu-item"><a href="/animals/vet">Animals in Vet Care</a></li>
        <li class="menu-item"><a href="/animals/adopted">Adopted Animals</a></li>
        <li class="menu-item"><a href="/animals/search">Search Animals</a></li>
      </nav>

      <%= yield %>
    </main>
  </body>
</html>
