body {
  background: deepskyblue;
  font-family: tahoma;
  margin: 20px;
  text-decoration: none;
}

.title {
  color: deeppink;
  text-align: center;
  font-size: 48pt;
}

a {
  text-decoration: none;
  color: deeppink;
  display: block;
}

.logo{
position: absolute;
top: 20%;
right: 35%;
height: 200px;
}

.background{
 position: relative;
 width: 100%;
}

.homepage{
  color: white;
  text-align: center;
  font-size: 38pt;
}

p{
  color: white;
}

nav {
  top: 0;
  width: 100%;

  color: deepskyblue;
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#menu {
  display: flex;
  font-family: tahoma;
  text-decoration: none;
}

.polaroid-profile {
  background: white;
  display: inline;
  float: left;
  margin: 0 10px 60px;
  padding: 20px 20px 80px;
  text-align: center;
  text-decoration: none;
  box-shadow: 0 8px 12px rgba(0,0,0,.6);
  transition: all .15s linear;
  z-index:0;
  position:relative;
}
.left{
  text-align: left;
}

.polaroid{
  background: white;
  box-shadow: 0 8px 12px rgba(0,0,0,.6);
  padding: 2px 2px 2px;
}

.polaroid-index {
  background: white;
  margin: 0 10px 10px;
  padding: 10px 10px 50px;
  text-align: center;
  text-decoration: none;
  box-shadow: 0 4px 6px rgba(0,0,0,.6);
  transition: all .15s linear;
  z-index:0;
  position:relative;
}

.menu-item {
  display: block;
  background-color: white;
  text-align: center;
  padding: 15px 15px;
  color: deepskyblue;
  text-decoration: none;
}

.menu-item:hover {
  background-color: ghostwhite;
  color: deepskyblue;
  text-decoration: none;
}

.menu-item:active {
  background-color: deepskyblue;
  color: white;
  text-decoration: none;
}

h1 {
  color: deeppink;
}

input[type=text] {
  width: 80%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid deeppink;
  border-radius: 4px;
  font-size: 12pt;
}

input[type=number]{
  width: 80%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid deeppink;
  border-radius: 4px;
  font-size: 12pt;
}

input[type=submit] {
  background: deeppink;
  color: white;
  border: 1px solid #eee;
  border-radius: 20px;
  box-shadow: 1px 1px 1px #eee;
  text-shadow:none;
  font-size: 12pt;
}

input[type=submit]:hover {
  background: white;
  color: deeppink;
  border: 1px solid #eee;
  border-radius: 20px;
  box-shadow: 1px 1px 1px #eee;
  text-shadow:none;
  font-size: 12pt;
}

.form-select {
  color: deeppink;
  font-size: 12pt;
  font: inherit;
}

.form{
  color: white;
  font-size: 12pt;
}

.form-menu{
  color: white;
  font-size: 12pt;
}

td label {
  color: white;
  text-align: left;
}

td {
  color: white;
  text-align: center;
}

th {
  color: deeppink;
  font-size: 18pt;
  text-align: center;
}

/* style radio buttons */
input[type='radio']:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #d1d3d1;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}

input[type='radio']:checked:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: deeppink;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}

.full_table {
  table-layout: fixed;
  width: 100%;
}
