<h1>All our potential owners</h1>

<% @owners.each do |owner| %>
  <p>Name: <%= owner.full_name() %> </p>
  <p>Location: <%= owner.location %> </p>
  <p><a href="/owners/<%= owner.id %>">View <%= owner.full_name %>'s Profile</a></p>
  <hr>
<% end %>
